body {
  font-family: "DM Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: white;
  align-items: center;
  height: 80px;
  padding-left: 125px;
  padding-right: 125px;
  justify-content: space-between;
  font-size: 30px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 23px;
  color: black;
  font-weight: 450;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  padding-left: 125px;
  padding-right: 125px;
  font-size: 30px;
}
.col-1 {
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

div h1 {
  margin-bottom: 15px;
}
div p {
  color: gray;
  font-size: 23px;
  margin-bottom: 15px;
}
img {
  width: 450px;
  size: 100px;
}

button {
  border: none;
  color: white;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30%;
  height: 20%;
}

.btn-1 {
  text-align: center;
  color: black;
  border: 2px solid aquamarine;
  background-color: white;
}

.btn-2 {
  text-align: center;
  color: white;
  background-color: aquamarine;
  border: 2px solid white;
}

.row .col-4-1 .col-4-2 .col-4-3 {
  display: flex;
  grid: 2;
  flex-direction: column;
}

table {
  border: none;
  background-color: aquamarine;
  color: aquamarine;
  border: 2px solid aquamarine;
  width: 50px;
}
